# Systemd service for the parkpark auth api. TODO: Dont run as root

[Unit]
Description=Snekdek

[Service]
WorkingDirectory=/home/saveliyb/app
ExecStart=/usr/bin/dotnet /home/saveliyb/app/snekdek.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-snekdek
User=saveliyb
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false


[Install]
WantedBy=multi-user.target
